@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Passion+One & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {

    --font01: 'Passion One';
    --font02: Verdana, Geneva, Tahoma, sans-serif;
    --font-texto: 'Sriracha', cursive;

    --image01: ''
    
}

body {
    background-color: aqua;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background-image: url('imagens/background001.jpg');
    /*background-image: url('imagens/background002.jpg');*/
    background-repeat: no-repeat;
    
    background-size: 100% 100%;
    
    
}
/*-------------------------area header---------------------------*/
header {
    background-color: black;
    text-align: center;
    margin-top: -60px;
   
}

header > h1 {
    color: white;
    font-family: var(--font01);
    font-weight: bolder;
    font-size: 5em;
    padding-top: 50px;
    margin-bottom: 0px;
    
    
    
    
}
header > p {
    color: white;
    font-family: var(--font02);
    text-align: center;
    padding-bottom: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    
    
    
}
header > p > a {
    text-decoration: none;
    color: white;
    
}
header > p > a:hover {
    text-decoration: underline;
}

/*-----------------area main-------------------------*/

section {
    font-family: var(--font-texto);
    font-size: 1.5em;
  
}

article > p.branco {
    background-color: white;
    padding-top: 100px;
    padding-left: 20px;
    padding-bottom: 100px;
    margin: 0px;

}

article > p.transparente {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.514);
    width: 500px;
    margin-top: 50px;
    

    
    margin: 0px;
}