@charset "UTF-8";


  @import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {

    --font01: 'Passion One', sans-serif;
    --font02: Verdana, Tahoma, sans-serif;
    --font-texto: 'Sriracha', sans-serif;

   
}
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightgray;
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    /*text-transform: uppercase; (deixa todas as letras maiusculas) */
    font-variant: small-caps; /*toas as letras maiusculas, mas as iniciais se destacam*/
    font-family: var(--font01);
    font-size: 10vw;
}
header > p {
    padding-bottom: 50px;
    font-family: var(--font02);
}
header > p > a {
    color: white;
    text-decoration: none;
}
header > p > a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--font-texto);
    font-size: 3vw;
    
}
section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;

}

section.imagem {
    background-color: rgb(49, 47, 47);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.664);
    background-size: cover;
    background-attachment: fixed;

}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.507);
    display: inline-block;
    padding: 8px;
    text-shadow: 1px 1px 0px black;
    
}

section#img01 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    

}

section#img02 {
    background-image: url('imagens/background002.jpg');
    background-position: right center;
    
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
/*
body {
    background-color: aqua;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background-image: url('imagens/background001.jpg');
    /*background-image: url('imagens/background002.jpg');*/
    /*background-repeat: no-repeat;
    
    background-size: 100% 100%;
    
    
}
/*-------------------------area header---------------------------
header {
    background-color: black;
    text-align: center;
    margin-top: -60px;
   
}

header > h1 {
    color: white;
    font-family: var(--font01);
    font-weight: bolder;
    font-size: 5em;
    padding-top: 50px;
    margin-bottom: 0px;
 
}
header > p {
    color: white;
    font-family: var(--font02);
    text-align: center;
    padding-bottom: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
  
}
header > p > a {
    text-decoration: none;
    color: white;
    
}
header > p > a:hover {
    text-decoration: underline;
}

/*-----------------area main-------------------------

section {
    font-family: var(--font-texto);
    font-size: 1.5em;
  
}

#container > p.branco {
    background-color: white;
    padding-top: 100px;
    padding-left: 20px;
    padding-bottom: 100px;
    margin: 0px;
}

#container > p.transparente {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.514);
    width: 500px;
    margin-top: 50px;

    margin: 0px;
}*/